// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@Color1: #392f2f;
@Color2: hsla(175, 74%, 25%, 0.541);
@Color3: #fff5e1;
@Color4: #f8f8f8;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: @Color1;
  font-family: "" Palatino Linotype ", " Book Antiqua ", Palatino, serif";
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: @Color2;
  color: White;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

header nav a:hover {
  color: plum;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

header h1 {
  font-size: 2rem;
  padding: 25px;
}

#main span {
  border: 2px solid black;
}

#main article {
  border: 2px solid black;
}

h2 {
  font-size: 1.5rem;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: @Color3;
}

#WorkHistory {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

#WorkHistory h2 {
  text-align: start;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  background-color: @Color2;
  padding: 1%;
}
